.footer-primary {
  background-color: $brand-secondary;
  color: $gray-tertiary;
  font-weight: 300;
  font-size: 14px;

  &-inner {
    display: grid;
    grid-template-areas:
      'nav'
      'contact'
      'support';

    @include media-breakpoint-up('lg') {
      grid-template-columns: 1fr 2fr;
      grid-template-areas: 'nav nav' 'support contact';
    }
  }

  .footer-nav {
    display: flex;
    flex-wrap: wrap;
    row-gap: 43px;
    grid-area: nav;
    text-transform: uppercase;

    @include media-breakpoint-up('lg') {
      flex-wrap: nowrap;
      column-gap: 110px;
    }

    ul {
      flex-basis: 50%;

      @include media-breakpoint-up('lg') {
        flex-basis: auto;
      }
    }
  }

  .footer-contact {
    grid-area: contact;

    @include media-breakpoint-up('lg') {
      align-self: end;
    }

    a {
      display: block;
    }

    p :nth-child(2) {
      color: $brand-primary;
    }
  }

  h1 {
    font-weight: 300;
    font-size: 16px;
  }

  h1 > span {
    font-weight: 700;
  }
}

.footer-support {
  grid-area: support;
  justify-self: center;
  display: flex;

  li {
    display: inline-block;
    gap: 33px;
    margin-right: 29px;
    transition: 0.6 ease-in-out;

    a {
      i {
        display: block;
        color: $brand-primary;
        font-size: 40px;
        text-align: center;
        margin-bottom: 10px;
      }
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  @include media-breakpoint-up('lg') {
    justify-self: start;
    align-self: end;
    margin-left: 48px;
  }
}
