.nav-secondary {
  ul {
    display: flex;
    justify-content: center;
    font-size: 14px;
    gap: 35px;
    text-transform: uppercase;
    font-weight: 300;
  }

  a {
    transition: color 0.2s linear;
    &:hover {
      color: $brand-primary;
    }
  }
}
